{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionAutor/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione la profesion</b>
      <select class="form-control" name="id_profesion" id="id_profesion" required>
        <option value="">--Seleccione la profesion--</option>
        {% for profesion in profesiones %}
        <option value="{{profesion.id_ac}}">{{profesion.nombre_ac}}</option>
        {% endfor %}
      </select>

      <script type="text/javascript">
        document.getElementById('id_profesion').value="{{autor.profesion_ac.id_ac}}"
      </script>

      <br>
      <input type="hidden" name="id_ac"  value="{{autor.id_ac}}">

      <b>NOMBRE</b>
      <input type="text" name="nombre_ac"  id="nombre_ac"
      value="{{autor.nombre_ac}}" placeholder="Ingrese el nombre"
      class="form-control" required>
      <br>
      <b>CORREO</b>
      <input type="email" name="correo_electronico_ac" id="correo_electronico_ac"
      value="{{autor.correo_electronico_ac}}" placeholder="Ingrese el apellido"
      class="form-control" required>
      <br>
      <b>OBSERVACIONES</b>
      <input type="text" name="observaciones_ac" id="observaciones_ac"
      value="{{autor.observaciones_ac}}" placeholder="Ingrese la edad"
      class="form-control" required>
      <br>
      <b>Ingrese el archivo</b>

      <div class="row">
        <div class="col-md-12">
          {% if autor.hoja_vida_ac %}
            <object data="{{ autor.hoja_vida_ac.url }}" type="application/pdf" width="100%" height="500px">
              <p>El navegador no puede mostrar el PDF. <a href="{{ autor.hoja_vida_ac.url }}" target="_blank">Haz clic aquí para descargarlo.</a></p>
            </object>
          {% else %}
            <b>N/A</b>
          {% endif %}
        </div>

        <input
          type="file"
          accept=".pdf"
          class="form-control rounded-5 m-1"
          name="hoja_vida_ac"
          id="hoja_vida_ac"
        />
      </div>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>


{% endblock %}
















<!--  -->
