{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProfesion/" method="post" id="frm_nuevo_genero" >
      {% csrf_token %}

      <input type="hidden" name="id_ac"  value="{{profesion.id_ac}}">
      <b>NOMBRE</b>
      <input type="text" name="nombre_ac" id="nombre_ac"
      value="{{profesion.nombre_ac}}" placeholder="Ingrese el nombre de la profesión"
      class="form-control" required>
      <br>
      <b>DESCRIPCION</b>
      <input type="text" name="descripcion_ac" id="descripcion_ac"
      value="{{profesion.descripcion_ac}}" placeholder="Ingrese la descripción"
      class="form-control" required>
      <br>

      <b>AÑOS DE EXPERIENCIA</b>
      <input type="number" name="años_experiencia_ac" id="años_experiencia_ac"
      value="{{profesion.años_experiencia_ac}}" placeholder="Ingrese los años de experiencia"
      class="form-control" required>
      <br>

      <b>TITULOS</b>
      <input type="text" name="titulos_ac" id="titulos_ac"
      value="{{profesion.titulos_ac}}" placeholder="Ingrese los títulos"
      class="form-control" required>
      <br>

      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}



















<!--  -->
