{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionLibro/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione el genero</b>
      <select class="form-control" name="genero_ac" id="genero_ac" required>
        <option value="">--Seleccione el genero--</option>
        {% for genero in generos %}
        <option value="{{genero.id_ac}}">{{genero.nombre_ac}}</option>
        {% endfor %}
      </select>

      <b>Seleccione el autor</b>
      <select class="form-control" name="autor_ac" id="autor_ac" required>
        <option value="">--Seleccione el autor--</option>
        {% for autor in autores %}
        <option value="{{autor.id_ac}}">{{autor.nombre_ac}}</option>
        {% endfor %}
      </select>

      <script type="text/javascript">
        document.getElementById('genero_ac').value="{{libro.genero_ac.id_ac}}"
      </script>

      <script type="text/javascript">
        document.getElementById('autor_ac').value="{{libro.autor_ac.id_ac}}"
      </script>

      <br>
      <input type="hidden" name="id_ac"  value="{{libro.id_ac}}">
      <b>TITULO</b>
      <input type="text" name="titulo_ac" id="titulo_ac"
      value="{{libro.titulo_ac}}" placeholder="Ingrese el título"
      class="form-control" required>
      <br>
      <b>EDITORIAL</b>
      <input type="text" name="editorial_ac"  id="editorial_ac"
      value="{{libro.editorial_ac}}" placeholder="Ingrese la editorial"
      class="form-control" required>
      <br>
      <b>DESCRIPCION</b>
      <input type="text" name="descripcion_ac" id="descripcion_ac"
      value="{{libro.descripcion_ac}}" placeholder="Ingrese la fecha de publicación"
      class="form-control" required>
      <br>

      <b>Ingrese la imagen</b>

      <div class="row">
        <div class="col-md-12">
          {% if libro.fotografia_ac %}
            <a href="{{libro.fotografia_ac.url}}" target="_blank">
              <img src="{{libro.fotografia_ac.url}}"  alt="" width="100" height="50"></a>
          {% endif %}
          <input
            type="file"
            accept="image/*"
            class="form-control rounded-5 m-1"
            name="fotografia_ac"
            id="fotografia_ac"
          />
        </div>
      </div>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

{% endblock %}
















<!--  -->
