{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionGenero/" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <input type="hidden" name="id_ac"  value="{{genero.id_ac}}">
      <b>NOMBRE</b>
      <input type="text" name="nombre_ac" id="nombre_ac"
      value="{{genero.nombre_ac}}" placeholder="Ingrese el nombre del genero"
      class="form-control" required>
      <br>
      <b>DESCRIPCION</b>
      <input type="text" name="descripcion_ac" id="descripcion_ac"
      value="{{genero.descripcion_ac}}" placeholder="Ingrese la descripcion"
      class="form-control" required>
      <br>
      <b>FECHA DE CREACION</b>
      <input type="date" name="fecha_creacion_ac" id="fecha_creacion_ac"
      value="{{libro.fecha_creacion_ac|date:'Y-m-d'}}" placeholder="Ingrese la fecha de publicacion"
      class="form-control" required>
      <br>
      <b>Ingrese la imagen</b>

      <div class="row">
        <div class="col-md-12">
          {% if genero.fotografia_ac %}
            <a href="{{genero.fotografia_ac.url}}" target="_blank">
              <img src="{{genero.fotografia_ac.url}}"  alt="" width="100" height="50"></a>
          {% endif %}
          <input
            type="file"
            accept="image/*"
            class="form-control rounded-5 m-1"
            name="fotografia_ac"
            id="fotografia_ac"
          />
        </div>
      </div>
      <br>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}



















<!--  -->
