{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>LISTADO GENEROS LITERARIOS</h1>

    <br>
    <ul>

      <div class="row">
        <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
            <form action="guardarGenero/" method="post" enctype="multipart/form-data" id="frm_nuevo_genero">
                {% csrf_token %}
                <br>
                <b>NOMBRE:</b>
                <input type="text" name="nombre_ac" value="" id="nombre_ac" placeholder="Ingrese el nombre" class="form-control" required>
                <br>
                <b>DESCRIPCION:</b>
                <input type="text" name="descripcion_ac" value="" id="descripcion_ac" placeholder="Ingrese la descripcion" class="form-control" required>
                <br>
                <b>FECHA CREACION:</b>
                <input type="date" name="fecha_creacion_ac" value="" id="fecha_creacion_ac" placeholder="Ingrese la descripcion" class="form-control" required>
                <br>
                <b>FOTOGRAFIA DE REFERENCIA:</b>
                <input type="file" name="fotografia_ac" accept="image/*" id="fotografia_ac" required>
                <br>
                <center>
                    <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                </center>
            </form>
        </div>
        <div class="col-md-7">
            <div class="d-flex justify-content-center align-items-center">
            </div>
            <br>
            <table class="table table-sm" id="tbl_generos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>FECHA</th>
                        <th>FOTOGRAFI</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genero in generos %}
                        <tr>
                            <td>{{ genero.id_ac }}</td>
                            <td>{{ genero.nombre_ac }}</td>
                            <td>{{ genero.descripcion_ac }}</td>
                            <td>{{ genero.fecha_creacion_ac }}</td>

                            <td>{% if genero.fotografia_ac %}
                                <a href="{{ genero.fotografia_ac.url }}" target="_blank">
                                    <img src="{{ genero.fotografia_ac.url }}" alt="" height="50px"></a>
                                {% else %}
                                <b>N/A</b>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/editarGenero/{{ genero.id_ac }}" class="btn btn-warning btn-sm">Editar</a>
                                <a href="javascript:void(0)"
                                onclick="eliminarGenero('/eliminarGenero/{{ genero.id_ac }}');" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>
        </div>
    </div>



    </ul>

    <script type="text/javascript">
function eliminarGenero(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
    $("#frm_nuevo_genero").validate({
        rules: {
            "nombre_ac": {
                required: true
            },
            "descripcion_ac": {
                required: true
            },
            "fotografia_ac": {
                required: true
            }
        },
        messages: {
            "nombre_ac": {
                required: "DEBE INGRESAR EL NOMBRE DEL GÉNERO"
            },
            "descripcion_ac": {
                required: "DEBE INGRESAR LA DESCRIPCIÓN DEL GÉNERO"
            },
            "fotografia_ac": {
                required: "SELECCIONE LA FOTOGRAFÍA DE REFERENCIA"
            }
        }
    });
</script>



    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_generos').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


  {%endblock%}
