{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>LISTADO DE AUTORES</h1>
    <br>
    <ul>

      <div class="row">
        <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
            <form action="/guardarAutor/" method="post" enctype="multipart/form-data" id="frm_nuevo_autor">
                {% csrf_token %}
                <b>SELECCIONE LA PROFESION:</b>
                <select class="form-control" name="id_profesion" required>
                    <option value="">--SELECCIONE LA PROFESION  </option>
                    {% for profesion in profesiones %}
                    <option value="{{profesion.id_ac}}">
                        {{profesion.nombre_ac}}
                    </option>
                    {% endfor %}
                </select>
                <br>
                <b>APELLIDO:</b>
                <br>
                <input type="text" name="apellido_ac" value="" id="apellido_ac" placeholder="Ingrese el Apellido" class="form-control" required>
                <br>
                <b>NOMBRE:</b>
                <input type="text" name="nombre_ac" value="" id="nombre_ac" placeholder="Ingrese el Nombre" class="form-control" required>
                <br>
                <b>EDAD:</b>
                <input type="number" name="edad_ac" value="" id="edad_ac" placeholder="Ingrese la Edad" class="form-control" required>
                <br>
                <b>HOJA DE VIDA:</b>
                <input type="file" name="hoja_vida_ac" accept=".pdf" id="hoja_vida_ac" value="">
                <center>
                    <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                </center>
            </form>
        </div>
        <div class="col-md-7">
            <div class="d-flex justify-content-center align-items-center">
                <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
            </div>
            <br>
            <table class="table" id="tbl_autores">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>APELLIDO</th>
                        <th>NOMBRE</th>
                        <th>EDAD</th>
                        <th>PROFESION</th>
                        <th>HOJA DE VIDA</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for autor in autores %}
                    <tr>
                        <td>{{ autor.id_ac }}</td>
                        <td>{{ autor.apellido_ac }}</td>
                        <td>{{ autor.nombre_ac }}</td>
                        <td>{{ autor.edad_ac }}</td>
                        <td>{{autor.profesion_ac.nombre_ac}}</td>
                        <td>
                            {% if autor.hoja_vida_ac %}
                            <object data="{{ autor.hoja_vida_ac.url }}" type="application/pdf" width="100%" height="500px">
                                <p> <a href="{{ autor.hoja_vida_ac.url }}" target="_blank">pdf</a></p>
                            </object>
                            {% else %}
                            <b>N/A</b>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/editarAutor/{{autor.id_ac}}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0)"
                                onclick="eliminarAutor('/eliminarAutor/{{autor.id_ac}}');" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>
        </div>
    </div>


    </ul>

    <script type="text/javascript">
function eliminarAutor(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
   $("#frm_nuevo_autor").validate({
     rules:{
       "id_profesion":{
         required:true
       },
       "apellido_ac":{
         required:true
       },
       "nombre_ac":{
         required:true
       },
       "edad_ac":{
         required:true
       },
       "hoja_vida_ac":{
         required:true
       }
     },
     messages:{
       "id_profesion":{
         required:"POR FAVOR SELECCIONE LA PROFESIÓN"
       },
       "apellido_ac":{
         required:"DEBE INGRESAR EL APELLIDO DEL AUTOR"
       },
       "nombre_ac": {
         required: "DEBE INGRESAR EL NOMBRE DEL AUTOR"
       },
       "edad_ac":{
         required:"DEBE INGRESAR LA EDAD DEL AUTOR"
       },
       "hoja_vida_ac":{
         required:"DEBE SELECCIONAR LA HOJA DE VIDA DEL AUTOR"
       }
     }
   });
</script>
    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_clientes').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


  {%endblock%}
