{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>LISTADO DE LIBROS</h1>
    <br>
    <ul>

      <div class="row">
      <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
          <form action="{% url 'guardar_libro' %}" method="post" enctype="multipart/form-data" id="frm_nuevo_libro">
              {% csrf_token %}

              <b>SELECCIONE EL GENERO:</b>
              <select class="form-control" name="id_genero" required>
                  <option value="">--SELECCIONE EL GENERO</option>
                  {% for genero in generos %}
                      <option value="{{ genero.id_ac }}">{{ genero.nombre_ac }}</option>
                  {% endfor %}
              </select>

              <b>SELECCIONE EL AUTOR:</b>
              <select class="form-control" name="id_autor" required>
                  <option value="">--SELECCIONE EL AUTOR</option>
                  {% for autor in autores %}
                      <option value="{{ autor.id_ac }}">{{ autor.nombre_ac }}</option>
                  {% endfor %}
              </select>

              <br>

              <b>TITULO:</b>
              <br>
              <input type="text" name="titulo_ac" value="" id="titulo_ac" placeholder="Ingrese el titulo" class="form-control" required>
              <br>
              <b>EDITORIAL:</b>
              <input type="text" name="editorial_ac" value="" id="editorial_ac" placeholder="Ingrese el editorial" class="form-control" required>
              <br>
              <b>FECHA DE PUBLICACION</b>
              <input type="date" name="fecha_publicacion_ac" id="fecha_publicacion_ac" value="" placeholder="Ingrese la fecha de publicacion" class="form-control" required>

              <br>
              <b>FOTOGRAFIA PORTADA:</b>
              <input type="file" name="fotografia_ac" accept="image/*" id="fotografia_ac" value="">

              <center>
                  <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                  &nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;
                  <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
              </center>
          </form>
      </div>
      <div class="col-md-7">
          <div class="d-flex justify-content-center align-items-center">
              <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
          </div>
          <br>
          <table class="table" id="tbl_libros">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>TITULO</th>
                      <th>EDITORIAL</th>
                      <th>FECHA DE PUBLICACION</th>
                      <th>GENERO</th>
                      <th>AUTOR</th>
                      <th>FOTOGRAFIA PORTADA</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for libro in libros %}
                      <tr>
                          <td>{{ libro.id_ac }}</td>
                          <td>{{ libro.titulo_ac }}</td>
                          <td>{{ libro.editorial_ac }}</td>
                          <td>{{ libro.fecha_publicacion_ac }}</td>
                          <td>{{ libro.genero_ac.nombre_ac }}</td>
                          <td>{{ libro.autor_ac.nombre_ac }}</td>

                          <td>
                              {% if libro.fotografia_ac %}
                                  <a href="{{ libro.fotografia_ac.url }}" target="_blank">
                                      <img src="{{ libro.fotografia_ac.url }}" alt="" height="50px"></a>
                              {% else %}
                                  <b>N/A</b>
                              {% endif %}
                          </td>

                          <td>
                              <a href="/editarLibro/{{libro.id_bg}}" class="btn btn-warning">Editar</a>
                              <a href="javascript:void(0)"
                              onclick="eliminarLibro('/eliminarLibro/{{libro.id_bg}}');"class="btn btn-danger">Eliminar</a>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          <!-- Agregar una fila para la imagen debajo de la tabla -->
          <br>
      </div>
  </div>



    </ul>

    <script type="text/javascript">
function eliminarLibro(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nuevo_libro").validate({
            rules: {
                "id_genero": {
                    required: true
                },
                "id_autor": {
                    required: true
                },
                "titulo_ac": {
                    required: true
                },
                "editorial_ac": {
                    required: true
                },
                "fecha_publicacion_ac": {
                    required: true
                },
                "fotografia_ac": {
                    required: true
                }
            },
            messages: {
                "id_genero": {
                    required: "POR FAVOR SELECCIONE EL GÉNERO"
                },
                "id_autor": {
                    required: "POR FAVOR SELECCIONE EL AUTOR"
                },
                "titulo_ac": {
                    required: "DEBE INGRESAR EL TÍTULO DEL LIBRO"
                },
                "editorial_ac": {
                    required: "DEBE INGRESAR LA EDITORIAL DEL LIBRO"
                },
                "fecha_publicacion_ac": {
                    required: "DEBE INGRESAR LA FECHA DE PUBLICACIÓN DEL LIBRO"
                },
                "fotografia_ac": {
                    required: "DEBE INGRESAR LA FOTOGRAFÍA DE PORTADA DEL LIBRO"
                }
            }
        });
    });
</script>

    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_libros').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


  {%endblock%}
